body {
  margin: 0;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e5e5e5;
  //background: url(/assets/background);
  opacity: 1;
  background-size: cover;
}

#player_video {
  padding: 30px;
}

#container background {
  opacity: .4;
}

